* {
    --color-black: #21262d;
    --color-custom-orange: #fe964a;
    --color-day-mode-gray: #cdcdd2;
    --color-disabled-text: #666669;
    --color-future-green: #1eef97;
    --color-midnight: #1d0638;
    --color-night-mode-gray: #373741;
    --color-real-black: #000;
    --color-real-white: #fff;
    --color-sun-red: #ee4c40;
    --color-sunlight: #fef04a;
    --color-twilight: #442ee0;
    --color-white: #b7bdc9;
}