@import url("colors.css");
@import url("slider.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--color-black);
    color: var(--color-white);
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    color: var(--color-future-green);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-sunlight);
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    width: 300px;
    margin-right: 10px;
}

input[type=range] {
    min-width: 300px;
}

.navigation {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation .previous {
    margin-right: 0;
}

.navigation .next {
    margin-left: 0;
}

button, .button, input[type="submit"], input::file-selector-button {
    padding: 10px 15px;
    background-color: var(--color-future-green);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 14px;
}

input::file-selector-button {
    padding: 5px 7px;
}

input[type="file"] {
    background-color: var(--color-midnight);
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
}

button:hover, .button:hover {
    background-color: var(--color-sunlight);
    color: var(--color-real-black);
}

.logout {
    position: absolute;
    right: 30px;
    top: 20px;
}

.admin {
    position: absolute;
    right: 110px;
    top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--color-day-mode-gray);
}

table th, table td {
    padding: 10px;
    text-align: left;
}

.container {
    position: relative;
    width: 1000px;
    margin: 10px auto 50px;
    background-color: var(--color-night-mode-gray);
    padding: 30px;
    border-radius: 10px;
}

.saved-values {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-white);
    border: 1px solid var(--color-day-mode-gray);
}

.saved-values p {
    margin: 5px 0;
}

p.user {
    position: absolute;
    right: 20px;
    bottom: -45px;
}

span.em {
    font-weight: bold;
    font-size: 19px;
}

.question-container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-midnight);
}

.question {
    position: relative;
    padding: 20px;
}

.question label, .question input {
    display: block;
    width: 100%;
    padding: 15px 0;;
}

.question label {
    font-size: 20px;
    font-weight: bold;
}

.question .left {
    position: absolute;
    left: 0;
}

.question .middle {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.question .middle#score {
    margin-top: -8px;
    font-size: 30px;
}

.question .right {
    position: absolute;
    right: 0;
}

.question .category {
    margin: 0;
}

.question:last-of-type {
    border-bottom: none;
}

.mermaid svg[aria-roledescription="xychart"] g.main rect.background {
    opacity: 0;
}

.mermaid svg[aria-roledescription="xychart"] g.bar-plot-0 rect {
    fill: var(--color-twilight);
}

.mermaid svg[aria-roledescription="journey"] {
    margin-top: -20px;
    max-height: 350px !important;
}

.average-box {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-midnight);
    margin-top: 20px;
    display: inline-block;
    font-size: 25px;
}

.average-box .direction-box {
    display: inline-block;
    margin-left: 5px;
}

.average-box .direction-box.up {
    color: var(--color-future-green);
}

.average-box .direction-box.down {
    color: var(--color-sun-red);
}

.average-box .direction-box.equal {
    color: var(--color-white);
}

.toggle-private {
    margin-bottom: 20px;
}