* {
    --color-black: #21262d;
    --color-custom-orange: #fe964a;
    --color-day-mode-gray: #cdcdd2;
    --color-disabled-text: #666669;
    --color-future-green: #1eef97;
    --color-midnight: #1d0638;
    --color-night-mode-gray: #373741;
    --color-real-black: #000;
    --color-real-white: #fff;
    --color-sun-red: #ee4c40;
    --color-sunlight: #fef04a;
    --color-twilight: #442ee0;
    --color-white: #b7bdc9;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--color-black);
    color: var(--color-white);
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    color: var(--color-future-green);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-sunlight);
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    width: 300px;
    margin-right: 10px;
}

input[type=range] {
    min-width: 300px;
}

.navigation {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation .previous {
    margin-right: 0;
}

.navigation .next {
    margin-left: 0;
}

button {
    padding: 10px 15px;
    background-color: var(--color-future-green);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-sunlight);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--color-day-mode-gray);
}

table th, table td {
    padding: 10px;
    text-align: left;
}

.container {
    position: relative;
    width: 1000px;
    margin: 10px auto 50px;
    background-color: var(--color-night-mode-gray);
    padding: 30px;
    border-radius: 10px;
}

.saved-values {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-white);
    border: 1px solid var(--color-day-mode-gray);
}

.saved-values p {
    margin: 5px 0;
}

p.user {
    float: right;
    margin-top: 40px;
}

span.em {
    font-weight: bold;
    font-size: 19px;
}

.question-container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-midnight);
}

.question {
    position: relative;
    /* min-height: 200px; */
    padding: 20px;
}

.question label, .question input {
    display: block;
    width: 100%;
    padding: 15px 0;;
}

.question label {
    font-size: 20px;
    font-weight: bold;
}

.question .left {
    position: absolute;
    left: 0;
}

.question .middle {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.question .right {
    position: absolute;
    right: 0;
}

.question .category {
    margin: 0;
}

.question:last-of-type {
    border-bottom: none;
}

.mermaid svg[aria-roledescription="xychart"] g.main rect.background {
    opacity: 0;
}