{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block header %}Import und Export der Datenbank{% endblock %}

{% block content %}
<h2>Datenbank hochladen</h2>
<p>Bitte lade eine SQLite-Datenbank hoch, um die bestehende Datenbank zu ersetzen. Dateiname muss "database.db" sein.</p>
<p>Achtung: Die bestehende Datenbank wird überschrieben.</p>
<form method="post" action="/upload_db" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <input type="submit" value="Upload">
</form>
<br /><br />
<h2>Datenbank herunterladen</h2>
<a href="/download_db" class="button">Download</a>
{% endblock %}