{% extends "base.html" %}

{% block content %}
<p>Umfragen zur Verbesserung der Teamgesundheit.</p>
<h2>Aktuelle Durchschnittswerte</h2>
<div class="mermaid">
    ---
    config:
        theme: "dark"
    ---
    journey
        section Health
        {% for name, value in average_per_category.items() %}
            {{ name }}: {{ (value - 1) }}
        {% endfor %}
        section Individual
            Selbsteinschätzung: {{ (selfcare - 1) }}
            
</div>
<ul>
    {% for name, value in average_per_category.items() %}
        <li>{{ name }}: {{ value }}</li>
    {% endfor %}
    <li>Selbsteinschätzung: {{ selfcare }}</li>
</ul>
<h2>Umfragen</h2>
<form method="post" action="/create_survey">
    <input type="text" id="survey_name" name="survey_name" required>
    <button type="submit">Neue Umfrage erstellen</button>
</form>
{% if surveys %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Umfrage</th>
            <th>Erstellt am</th>
            <th>Teilnehmer</th>
            <th>Score</th>
            <th>Ergebnisse</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        {% for survey in surveys %}
        <tr>
            <td>{{ survey.id }}</td>
            <td><a href="survey?uuid={{ survey.uuid }}">{{ survey.uuid if survey.name == "" else survey.name }}</a></td>
            <td>{{ survey.timestamp }}</td>
            <td>{{ participant_counts[survey.uuid] if survey.uuid in participant_counts else 0 }}</td>
            <td>{{ survey.score }}</td>
            <td><a class="button" href="results?uuid={{ survey.uuid }}&private=1">Mit eigener Wertung</a><a class="button" href="results?uuid={{ survey.uuid }}">Öffentlich</a></td>
            <td>
                <a class="button" href="rate_survey?uuid={{ survey.uuid }}">Bewerten</a>
                <form method="post" action="/delete_survey" style="display:inline;" onsubmit="return confirm('Willst Du die Umfrage wirklich löschen?');">
                    <input type="hidden" name="uuid" value="{{ survey.uuid }}">
                    <button type="submit">Löschen</button>
                </form>
                {% if not survey.closed %}
                <form method="post" action="/close_survey" style="display:inline;" onsubmit="return confirm('Willst Du die Umfrage wirklich schließen?');">
                    <input type="hidden" name="uuid" value="{{ survey.uuid }}">
                    <button type="submit">Schließen</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Keine Umfragen gefunden.</p>
{% endif %}
{% endblock %}