{% extends "base.html" %}

{% block title %}Umfrage{% endblock %}

{% block header %}Umfrage{% endblock %}

{% block content %}
<p>Ein hoher Wert repräsentiert in jeder Frage etwas Positives.</p>
{% if questions %}
<form method="post" action="/submit_survey">
    <input type="hidden" name="survey_uuid" value="{{ survey_uuid }}">
    {% for question in questions %}
    <div class="question">
        <p class="category">Kategorie {{ question.category }}</p>
        <label for="question_{{ question.id }}">{{ question.question }}</label>
        <input type="range" id="question_{{ question.id }}" name="question_{{ question.id }}" min="1" max="10" value="0"
            required>
        <div class="left">{{ question.low }}</div>
        <div class="right">{{ question.high }}</div>
    </div>
    {% endfor %}
    <button type="submit">Abschicken</button>
</form>
{% else %}
<p>No questions found for this survey.</p>
{% endif %}
{% endblock %}